.learn-more{
  padding: 5rem 1rem;

  .quiz-questions{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 2rem 0;
    color: #08AEEA;
  }

  label{
    font-weight: bold;
    font-size: 16px;
    color: #333333;
  }

  .options-q1{
    margin: 2rem 0;
  }

  .answer{
    color: white;
    font-size: 16px;
    font-width: bold;
    padding: 0.5rem 1.25rem;
    margin: auto;

    &.right{
      background: green;
    }

    &.wrong{
      background: red;
    }
  }
}