footer
    .grid-container
        .grid-x.grid-margin-x.grid-padding-y
        .shrink.medium-cell-block-container.align-center
            ul
                li
                    a(href='/') home
                li
                    a(href='/learn-more') learn-more
