extends ../layouts/layout

block content
	section
		.grid-container
			.grid-x.grid-margin-x.grid-padding-y
			.shrink.header.medium-cell-block-container
				h2 Hello, my name is
				h1 Foxfield Crixus
				img(src='/images/foxfield.jpg').thumbnail
				h3 I'm a russel terrier,  but I belive I'm human, change my mind!
				a.cta( href='/learn-more') learn more about me








